<div class="banner profile-podcast-banner" >
  
  <%= image_tag @user.avatar_url(:medium), alt: "user-thumbnail" %>
  <h1><%= @user.username %></h1>
  <div>
    <table>
      <td><%=@user.email%></td>
      <td><%if can? :delete, @user%>
        <%=link_to "Delete user", destroy_user_path(@user.id), method: 'delete', class: 'button button-alert' %>
      <% end %> </td>
    </table>
  </div>
</div>

<% if @user.artist?%>
<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul class="cf">
      <% for pod in @user.podcasts %>
        <%= link_to(pod.becomes(Podcast)) do %>
          <li>
            <%= image_tag pod.image.url, alt: "Podcast image" %>
            <div class="podcast-overview">
              <h2><%= pod.title %></h2>
              <p class="episode-count"><%= pod.episodes.count %> episodes</p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
