<div class="banner show-podcast-banner">
  <%= image_tag @episode.image.medium, alt: "episode-thumbnail" %>
  <h1><%= @episode.title %></h1>
  <div class="pod-description">
    <table>
      <td>
        <p class="col-large"><%= @episode.description %></p>
      </td>
      <td><%= link_to (image_tag @artist.avatar.thumb, id: "artist-thumbnail", alt: "user-thumbnail"), users_path(@artist) %></td>
      <td class="col-medium"><%= link_to @artist.username, users_path(@artist) %></td>
      <td class="col-medium">Created at <%= @episode.created_at.strftime('%d/%m/%Y') %></td>
    </table>
  </div>
</div>

<div class="wrapper-skinny center">
  <div class="wrapper-skinny">
	  <%= render partial: "episodes/#{@episode.type.tableize}/show", object: @episode %>

    <div class="votable">
      <%= link_to polymorphic_path([@podcast, @episode, :like]), method: :put do %>
        &#x1f44d;
        <%= @episode.get_upvotes.size %>
      <% end %>

      <%= link_to polymorphic_path([@podcast, @episode, :dislike]), method: :put do %>
        &#x1f44e;
        <%= @episode.get_downvotes.size %>
      <% end %>
    </div>

    <%= link_to "Share episode on Facebook", polymorphic_path([@podcast, @episode, :facebook_share]), method: :post %>
      <%= link_to "Edit episode", edit_polymorphic_path([@podcast, @episode]), class: "button button-highlight" if can? :update, @episode %>
    <%= link_to "Delete episode", polymorphic_path([@podcast, @episode]), :method => :delete, data: {confirm: "Do you really want to delete this episode?"}, class: "button button-alert" if can? :destroy, @episode %>
  </div>
  
  <div class="spacer"></div>

  <div class="wrapper-skinny">
    <%= form_for(@comment, url: polymorphic_path([@podcast, @episode, :comments]), method: :post) do |f| %>
      <%= f.text_area :comment, placeholder: "Add a comment", class: "border-animation" %>
      <%= f.submit "Leave Comment", class: "button button-highlight" %>
    <% end %>
  </div>

  <% #render partial: "comments/index", object: @episode %>
  <div id="comments">
  <div class="wrapper-skinny">
    <ul class="cf">
      <% for comment in @episode.comments %>
        <% unless comment.user_id.nil? %>
          <li class="cf">
            <div id="comment-overview">
              <div id="author-thumbnail"><%= link_to (image_tag User.find(comment.user_id).avatar.thumb, id: "artist-thumbnail", alt: "user-thumbnail"), users_path(User.find(comment.user_id)) %>
              </div>
              <div id="main">
                <div id="header">
                  <%= User.find(comment.user_id).username %>
                </div>
                <div id="content">
                  <%= comment.comment %>
                </div>
                <div id="comment-action-links">
                  <%= link_to "Edit", edit_polymorphic_path([@episode.podcast, @episode, comment]), class: "button button-highlight" if can? :update, comment %>
                  <%= link_to "Delete", polymorphic_path([@episode.podcast, @episode, comment]), method: :delete, class: "button button-alert" if can? :destroy, comment %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
</div>