<div class="banner show-podcast-banner">
  <%= image_tag @episode.image.medium, alt: "episode-thumbnail" %>
  <h1><%= @podcast.title %></h1>
  <div class="pod-description">
    <table>
      <td>
        <p class="col-large"><%= @episode.description %></p>
      </td>
      <td><%= link_to (image_tag @artist.avatar.thumb, id: "artist-thumbnail", alt: "user-thumbnail"), users_path(@artist) %></td>
      <td class="col-medium"><%= link_to @artist.username, users_path(@artist) %></td>
      <td class="col-medium">Created at <%= @episode.created_at.strftime('%d/%m/%Y') %></td>
    </table>
  </div>
</div>

<div class="wrapper-skinny center">
	<%= render partial: "episodes/#{@episode.type.tableize}/show", object: @episode %>
</div>

<%= link_to "Edit episode", edit_polymorphic_path([@podcast, @episode]), class: "button button-highlight" if can? :update, @episode %>
<%= link_to "Delete podcast", polymorphic_path([@podcast, @episode]), :method => :delete, data: {confirm: "Do you really want to delete this episode?"}, class: "button button-alert" if can? :destroy, @episode %>