<div class="banner signin-banner">
  <h1>Sign In to SmartCast</h1>
</div>

<div class="wrapper-skinny devise-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :login, "Username or Email" %><br />
      <%= f.text_field :login, placeholder: "Username or Email", :class => "border-animation"  %>
    </div>
      
    <div class="field">
      <%= f.label :password %><%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                                <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                            <% end -%><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :class => "border-animation" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", :class => "button button-highlight" %>
      <%= render "devise/shared/links" %>
    </div>

  <% end %>
</div>