<div class="banner smartcast-banner">
  <h1>Discover your favourite Podcast</h1>
</div>

<div id="search-container" class="cf">
  <form name="search-form">
    <input type="text" placeholder="Search Podcasts" name="search" class="border-animation" />
    <input type="submit" value="Search" class="button button-highlight"/>
  </form>
</div>

<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul class="cf"> 
    	<% for pod in @podcasts %>

	      <%= link_to(pod.becomes(Podcast)) do %>
	        <li>
	          <%= image_tag pod.image.medium, alt: "Podcast image" %>
	          <div class="podcast-overview">
	            <h2><%= pod.title %></h2>
	            <p class="episode-count"><%= pod.episodes.count %> episodes</p>
	          </div>
	        </li>
	      <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="pagination">
  <%= will_paginate @podcasts %>
</div>