<div class="banner create-podcast-banner">
  <h1>Create your Podcast</h1>
</div>


<%= form_for(@podcast, as: :podcast, :url => { :action => "create" }, html: { :multipart => true, id: "input-container", class: "cf wrapper"}) do |f| %>
  <div id="image-upload">
    <%= f.file_field :image %>
    <!--<label for="image" class="inputfile-label">Choose a file</label>-->
  </div>
  <div id="title">
  	<%= f.text_field :name, placeholder: "Insert Podcast title", class: "border-animation" %>
  </div>
  <div id="description" >
    <%= f.text_area :description, placeholder: "Insert Podcast description", class: "border-animation" %>
  </div>

  <div class="btn-bar">
    <div class="field" id="pod-type">
      <ul>
        <li>
          <%= f.label :type_audiopodcast, :class => "label-container" do %>
            Audio Podcast
            <%= f.radio_button :type, 'AudioPodcast', :checked => true %>
            <span class="checkmark"></span>
          <% end %>
        </li>
        <li>
          <%= f.label :type_videopodcast, :class => "label-container" do %>
            Video Podcast
            <%= f.radio_button :type, 'VideoPodcast'%>
            <span class="checkmark"></span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="right">
      <%= f.submit "Create Podcast", class: "button button-highlight" %>
      <%= link_to "Edit", root_path, class: "button button-white" %>
    </div>
  </div>
<% end %>
