<header class="cf<%= ' bg-dark' if controller.controller_name != 'welcome' %>">
	<!-- Navigation -->
	<div class="wrapper-wide">
		<%= link_to image_tag("logo-highlight.png", alt: "logo"), root_path, id: "logo" %>
		<nav>
			<ul>
				<li>
					<%= link_to "Explore", root_path %>
				</li>
			<% if !user_signed_in? %>
				<li>
					<%= link_to "Sign In", sign_in_path if !user_signed_in? %>
				</li>
			<% end %>
    		<li>
    			<%= link_to "Create Podcast", root_path %>
    		</li>
        <li>
            <%= link_to "FAQ", root_path %>
        </li>
      <% if user_signed_in? %>
    		<li>
    			<div class="dropdown">
	    			<button class="dropbtn">
	    				<%= image_tag("user-logo.png", alt: "user-logo") %>
	    				<p>Username</p>
	    			</button>
    				<div class="dropdown-content">
    					<%= link_to "Profile", root_path %>
    					<%= link_to "Account Settings", root_path %>
    					<%= link_to "Sign Out", sign_out_path, :method => 'delete' %>
    				</div>
    			</div>
    		</li>
    	<% end %>
			</ul>
		</nav>
	</div>
</header>

<%= content_tag :div, nil, :class => "spacer" if controller.controller_name != 'welcome' %>
