<header class="cf<%= ' bg-dark' if controller.controller_name != 'welcome' %>">

	<!-- Navigation -->
	<div class="wrapper-wide cf">
		<nav>
			<% if controller.controller_name == 'welcome' %>
				<%= link_to image_tag("logo-highlight.png", alt: "logo"), root_path, id: "logo" %>
			<% else %>
				<%= link_to image_tag("logo-highlight-white.png", alt: "logo"), root_path, id: "logo" %>
			<% end %>
			<ul>
				<li>
					<%= link_to "Explore", user_signed_in?? root_path : sign_in_path %>
				</li>
			<% if !user_signed_in? %>
				<li>
					<%= link_to "Sign In", sign_in_path if !user_signed_in? %>
				</li>
			<% end %>
			<% if !user_signed_in? || current_user.role == 'artist' %>
    		<li>
    			<%= link_to "Create Podcast", user_signed_in?? root_path : sign_in_path %>
    		</li>
    	<% end %>
        <li>
            <%= link_to "FAQ", root_path %>
        </li>

      <% if user_signed_in? %>
    		<li class="dropdown">
    			<a href="javascript:void(0)" class="dropbtn">
    				<%= image_tag("user-logo.png", alt: "user-logo") %>
    				
    			</a>
  				<div class="dropdown-content">
  					<a class="username-dropdown"><%= current_user.username %></a>
  					<%= link_to "Profile", root_path %>
  					<%= link_to "Account Settings", root_path %>
  					<%= link_to "Sign Out", sign_out_path, :method => 'delete' %>
  				</div>
    		</li>
    	<% end %>
			</ul>
		</nav>
	</div>
</header>

<%= content_tag :div, nil, :class => "spacer" if controller.controller_name != 'welcome' %>
